nifi-flows/aifirmy-main-flow-v2.json
{"flowContents":{"identifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08","instanceIdentifier":"ae579827-019e-1000-7575-26f86cb9a5e3","name":"aifirmy-main-flow-v2","comments":"","position":{"x":-522.8749847412109,"y":-148.72657012939453},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"502de958-c39e-3335-86cf-959358268057","instanceIdentifier":"ddf16401-888b-37b7-859a-7d4f16bfa259","name":"EvaluateJsonPath (hn_time, hn_type, hn_url, hn_title...)","comments":"","position":{"x":-344.0,"y":40.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","hn_url":"$.url","Return Type":"auto-detect","hn_title":"$.title","hn_time":"$.time","Null Value Representation":"empty string","hn_by":"$.by","hn_type":"$.type","hn_score":"$.score","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hn_url":{"name":"hn_url","displayName":"hn_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hn_title":{"name":"hn_title","displayName":"hn_title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hn_time":{"name":"hn_time","displayName":"hn_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hn_by":{"name":"hn_by","displayName":"hn_by","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hn_type":{"name":"hn_type","displayName":"hn_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hn_score":{"name":"hn_score","displayName":"hn_score","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"50c9f419-7fad-3fa1-9b52-ffc9d88376de","instanceIdentifier":"69bb191a-fab6-3095-4228-427748e62cf8","name":"ConvertRecord","comments":"","position":{"x":-336.0,"y":1024.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"e753fb8a-7323-32e4-ae2e-9b11c8a70b13","Record Reader":"38b6127c-081e-3792-ab9f-dd633d7c3867"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d22e1036-a39e-30d3-af1b-99e359886b97","instanceIdentifier":"7d84c97b-d475-3fcd-9edd-bff692127607","name":"GenerateFlowFile","comments":"","position":{"x":-344.0,"y":-1336.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":null,"Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"* * 2 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ce3ba259-18ff-3453-b6d5-16a3095d2d09","instanceIdentifier":"de0dea78-27f0-319d-2f95-56f89cc0beb8","name":"LogMessage","comments":"","position":{"x":-296.0,"y":3496.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log Message":"Przepływ dla ${flowfile} zakończył się poprawnie","Log Level":"info","Log Prefix":"AIFirmy "},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ceaaad64-b7b0-3c04-8d64-3fd6b03e8e3f","instanceIdentifier":"d64ce398-e25c-3cf5-980e-e48a339fe12f","name":"ReplaceText","comments":"","position":{"x":-328.0,"y":1616.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Replacement Value":"{\"model\":\"#{openai_model}\",\"max_tokens\":#{openai_max_tokens},\"messages\":[{\"role\":\"system\",\"content\":\"Opisz narzedzie/firme w 2 zdaniach. Ton: neutralny, informacyjny, SEO-friendly. Jezyk: polski. Format odpowiedzi tylko JSON bez markdown: { name, description, category, tags, segment, pricing_model } Zasady dla pola name: - Krotka nazwa produktu lub narzedzia (max 50 znakow) - Bez prefiksu Show HN: i podobnych - Bez podtytulu po myslniku lub dwukropku - Przyklad: Inbox-beam, KVarN, Lathe Zasady dla pola pricing_model: - Wybierz JEDNA wartosc: free, freemium, paid, open_source - open_source: projekt na GitHub bez platnego SaaS - free: narzedzie bez zadnych platnych planow - freemium: darmowy tier + platne plany - paid: tylko platne plany, brak darmowej wersji\"},{\"role\":\"user\",\"content\":\"Nazwa: ${hn_title} URL: ${hn_url}\"}]}","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5","name":"InvokeHTTP (OpenAI)","comments":"","position":{"x":-328.0,"y":2000.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"#{openai_api_key_1}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.openai.com/v1/chat/completions","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":"Authorization|Content-Type","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999ef675-019e-1000-8e71-e6dd803299b3","instanceIdentifier":"8e58136e-c4eb-333e-7366-8796c2f409ce","name":"Set and Email message","comments":"","position":{"x":416.0,"y":2472.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"9ce270c1-e765-3c42-86da-bbce29548754","instanceIdentifier":"7c485d21-074e-304e-c21a-e1d489321487","name":"ReplaceText","comments":"","position":{"x":-320.0,"y":2464.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Replacement Value":"${ai_response}","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"99a24f0e-019e-1000-999a-96ee5e3ae91d","instanceIdentifier":"a9f55738-da4c-3729-1696-ac42dc32f90a","name":"Set and Email message","comments":"","position":{"x":416.0,"y":2944.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"370aad9b-ec49-350f-9a60-b1593ce34731","instanceIdentifier":"1e9a2c0f-6091-3b17-e008-ae869ea172e4","name":"RouteOnAttribute (filtr słów kluczowych — pasuje)","comments":"","position":{"x":-344.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Routing Strategy":"Route to Property name","pasuje":"${hn_title:toLower():contains('ai'):or(${hn_title:toLower():contains('tool')}):or(${hn_title:toLower():contains('saas')}):or(${hn_title:toLower():contains('launch')}):or(${hn_title:toLower():contains('llm')}):or(${hn_title:toLower():contains('gpt')}):or(${hn_title:toLower():contains('model')}):or(${hn_title:toLower():contains('open source')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pasuje":{"name":"pasuje","displayName":"pasuje","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"304c8b04-70b8-3eb5-8c63-d4038cf5b288","instanceIdentifier":"5315a37b-e88b-3af2-a5cc-942ab938d3f5","name":"RouteOnAttribute (nowy?)","comments":"","position":{"x":-328.0,"y":1424.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"nowy":"${db_count:equals('0'):or(${db_count:equals('0.0')})}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"nowy":{"name":"nowy","displayName":"nowy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999addc9-019e-1000-7854-23988f6b5ee3","instanceIdentifier":"791897cb-ccef-388e-2cf5-c6cd55dcc019","name":"Set and Email message","comments":"","position":{"x":400.0,"y":40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ad0977fb-7d75-3d0b-b626-f219609b3e0a","instanceIdentifier":"67909e9b-bff1-330b-c593-eda3f13c4bfe","name":"UpdateAttribute","comments":"","position":{"x":-328.0,"y":1800.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"Content-Type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7d2d7594-de92-3473-9ca5-6592fa4e35d4","instanceIdentifier":"c4905ba5-7540-3a6d-d5f4-fd985411e4a4","name":"ExecuteSQL (sprawdź duplikat)","comments":"","position":{"x":-336.0,"y":808.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Set Auto Commit":"true","Max Wait Time":"0 seconds","SQL Query":"SELECT COUNT(*) AS cnt FROM scrape_queue WHERE source_url = '${hn_url}'","Database Connection Pooling Service":"d508f4cc-c5b9-3035-93c8-f9ead7b75058","Default Decimal Scale":"0","SQL Post-Query":null,"Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Compression Format":"NONE","Normalize Table and Column Names":"false","SQL Pre-Query":null,"Default Decimal Precision":"10","Max Rows Per FlowFile":"0","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Post-Query":{"name":"SQL Post-Query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table and Column Names":{"name":"Normalize Table and Column Names","displayName":"Normalize Table and Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Pre-Query":{"name":"SQL Pre-Query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"99990d5e-019e-1000-b880-1fb61e428892","instanceIdentifier":"dd1576d3-66a9-3bcc-be2e-f032d6283452","name":"Set and Email message","comments":"","position":{"x":400.0,"y":-224.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"82bb8416-5b80-352d-9b87-f006f7f1c322","instanceIdentifier":"58dd1286-3c3d-39d8-d872-34f7bb8ccf2c","name":"ExtractText","comments":"","position":{"x":-344.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Enable Repeating Capture Group":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable Named Groups":"false","Maximum Capture Group Length":"1024","hn_id":"(.+)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Repeating Capture Group":{"name":"Enable Repeating Capture Group","displayName":"Enable Repeating Capture Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Named Groups":{"name":"Enable Named Groups","displayName":"Enable Named Groups","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hn_id":{"name":"hn_id","displayName":"hn_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"9996dcf5-019e-1000-1b03-183df31f6b3d","instanceIdentifier":"4b0af4c2-bc9c-3489-d54e-8eafd8379c9d","name":"Set and Email message","comments":"","position":{"x":392.0,"y":-760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"76c4b168-b18d-3c0d-a72d-19773449784d","instanceIdentifier":"20e9455a-54ed-36d3-476f-991895098201","name":"SplitJson","comments":"","position":{"x":-344.0,"y":-744.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"1c0b1923-884d-32f3-87f0-191300ee4e33","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982","name":"InvokeHTTP (HN item details)","comments":"","position":{"x":-344.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://hacker-news.firebaseio.com/v0/item/${hn_id}.json","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"69ccd60a-0f16-3f6a-a90e-5f8ebd496d13","instanceIdentifier":"31b7cbb0-9f0a-3dd2-5321-bd7f4a36fb1d","name":"EvaluateJsonPath (opis, kategoria)","comments":"","position":{"x":-320.0,"y":2192.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","ai_response":"$.choices[0].message.content","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ai_response":{"name":"ai_response","displayName":"ai_response","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"5a9371d1-1487-3962-9a97-5eecbb5a32a0","instanceIdentifier":"e852a8b1-e821-331e-fb54-70da4d9dc504","name":"Set and Email message","comments":"","position":{"x":392.0,"y":-1168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"4079a179-4ade-3207-bc26-7c7a738851a8","instanceIdentifier":"5a21c4db-b0b0-32f5-83d7-2769621c5751","name":"ReplaceText","comments":"","position":{"x":-312.0,"y":2976.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Replacement Value":"{\"source_name\":\"hacker_news\",\"source_url\":\"${hn_url}\",\"raw_name\":\"${hn_title}\",\"name\":\"${ai_name}\",\"ai_description\":\"${ai_description}\",\"ai_category\":\"${ai_category}\",\"ai_pricing_model\":\"${ai_pricing_model}\",\"stage\":\"ai_done\"}","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999be05a-019e-1000-3b4d-39437c0cfd66","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1","name":"Set and Email message","comments":"","position":{"x":416.0,"y":1360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"9997d391-019e-1000-23b1-4159aa0fd4c7","instanceIdentifier":"a1c2d186-1e49-3a31-3fbb-87e894003d28","name":"Set and Email message","comments":"","position":{"x":400.0,"y":-488.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"474b6a9d-c545-3e04-973d-a44aa60aaeea","instanceIdentifier":"86513dbc-4e0c-38de-35c1-5a2e43bfb270","name":"RouteOnAttribute (filtr daty — nowe_i_story)","comments":"","position":{"x":-344.0,"y":312.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Routing Strategy":"Route to Property name","nowe_i_story":"${hn_type:equals('story'):and(${hn_time:gt(${now():toNumber():divide(1000):minus(86400)})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nowe_i_story":{"name":"nowe_i_story","displayName":"nowe_i_story","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"960bd260-170f-30a4-ae5a-cd5d9f370b84","instanceIdentifier":"d002dd49-797a-38b9-160d-4a08a7a24727","name":"EvaluateJsonPath (db_count)","comments":"","position":{"x":-328.0,"y":1232.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","db_count":"$.cnt","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db_count":{"name":"db_count","displayName":"db_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"b1357658-5b3e-36b0-b609-af6c4fd488f3","instanceIdentifier":"5cad45e1-bdca-3964-8fd7-cd08d2c11bb0","name":"EvaluateJsonPath","comments":"","position":{"x":-312.0,"y":2744.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"ai_pricing_model":"$.pricing_model","Destination":"flowfile-attribute","Max String Length":"20 MB","ai_segment":"$.segment","ai_name":"$.name","Return Type":"auto-detect","Null Value Representation":"empty string","ai_category":"$.category","ai_description":"$.description","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"ai_pricing_model":{"name":"ai_pricing_model","displayName":"ai_pricing_model","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ai_segment":{"name":"ai_segment","displayName":"ai_segment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ai_name":{"name":"ai_name","displayName":"ai_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ai_category":{"name":"ai_category","displayName":"ai_category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ai_description":{"name":"ai_description","displayName":"ai_description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999c7ada-019e-1000-4f8a-868490b20b06","instanceIdentifier":"e25c9922-7306-3750-a6b7-0fffbbe1b237","name":"Set and Email message","comments":"","position":{"x":416.0,"y":1888.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0","name":"PutDatabaseRecord (scrape_queue)","comments":"","position":{"x":-304.0,"y":3216.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Table Name":"scrape_queue","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"d508f4cc-c5b9-3035-93c8-f9ead7b75058","Delete Keys":null,"Record Reader":"19d6e59f-dded-31b2-8626-e3a9be840c68","Quote Table Identifiers":"false","Schema Name":"public","Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_UNDERSCORE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Fail on Unmatched Columns","Database Type":"Generic","Post-Processing SQL":null,"Translate Field Names":"true","Statement Type":"INSERT","Pre-Processing SQL":null,"Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Processing SQL":{"name":"Post-Processing SQL","displayName":"Post-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pre-Processing SQL":{"name":"Pre-Processing SQL","displayName":"Pre-Processing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b","name":"InvokeHTTP (HN topstories)","comments":"","position":{"x":-344.0,"y":-1080.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://hacker-news.firebaseio.com/v0/topstories.json","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"99a39994-019e-1000-5406-1887e4d67f75","instanceIdentifier":"efe1db3f-722b-326b-11ca-87c7b93428b1","name":"Set and Email message","comments":"","position":{"x":416.0,"y":3184.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999fcb75-019e-1000-d7a8-6b620720ce5b","instanceIdentifier":"c6734120-62f7-318d-06b3-a528ed0bdde0","name":"Set and Email message","comments":"","position":{"x":416.0,"y":2736.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"999e42fb-019e-1000-87f1-f359f09879d2","instanceIdentifier":"a0136c40-1867-317a-3e53-671edc46c611","name":"Set and Email message","comments":"","position":{"x":416.0,"y":2200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","logMessage":"Błąd","mailMessage":"Mail message:","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"logMessage":{"name":"logMessage","displayName":"logMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mailMessage":{"name":"mailMessage","displayName":"mailMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"31080c99-7a10-3cfa-adee-43f86ab377f9","instanceIdentifier":"e4481716-37b2-35ef-a784-129bfb46fbbd","name":"","source":{"id":"d22e1036-a39e-30d3-af1b-99e359886b97","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"GenerateFlowFile","comments":"","instanceIdentifier":"7d84c97b-d475-3fcd-9edd-bff692127607"},"destination":{"id":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN topstories)","comments":"","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"a432ffb1-3275-3854-9fa4-ebd8784a2c0a","instanceIdentifier":"56cd694e-acf7-3cc1-41b6-8c6f2c9b68f1","name":"","source":{"id":"ceaaad64-b7b0-3c04-8d64-3fd6b03e8e3f","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"d64ce398-e25c-3cf5-980e-e48a339fe12f"},"destination":{"id":"ad0977fb-7d75-3d0b-b626-f219609b3e0a","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"UpdateAttribute","comments":"","instanceIdentifier":"67909e9b-bff1-330b-c593-eda3f13c4bfe"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"0db18094-e14b-36a1-9152-aef86170c80b","instanceIdentifier":"a3794c58-ef5b-3c51-faa8-915925e190c3","name":"","source":{"id":"502de958-c39e-3335-86cf-959358268057","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (hn_time, hn_type, hn_url, hn_title...)","comments":"","instanceIdentifier":"ddf16401-888b-37b7-859a-7d4f16bfa259"},"destination":{"id":"474b6a9d-c545-3e04-973d-a44aa60aaeea","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr daty — nowe_i_story)","comments":"","instanceIdentifier":"86513dbc-4e0c-38de-35c1-5a2e43bfb270"},"labelIndex":0,"zIndex":16,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d6cf4695-3b10-374d-b2d4-434a989df73e","instanceIdentifier":"75c377b6-a4d0-3c5d-dcb0-edcac96c1490","name":"","source":{"id":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (OpenAI)","comments":"","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5"},"destination":{"id":"999c7ada-019e-1000-4f8a-868490b20b06","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"e25c9922-7306-3750-a6b7-0fffbbe1b237"},"labelIndex":0,"zIndex":51,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":208.0,"y":1848.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"cda3f440-54cd-30ea-8f48-a156b055b380","instanceIdentifier":"81395bce-8b28-367d-d350-8e8bd4a27cd4","name":"","source":{"id":"29a4e08f-1320-3de6-a629-c401f33f5cf8","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"5241a9de-ac2e-3f13-c1c7-ffa846179f92"},"destination":{"id":"99a1498a-019e-1000-c708-3d3a40a1b28d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"f0a38c9e-fe99-367f-44f2-68753e0e41bb"},"labelIndex":0,"zIndex":57,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"526849e4-45c4-39af-82f5-61c0a1907fbe","instanceIdentifier":"d465de78-627f-3fb5-2594-0fcf63ac8271","name":"","source":{"id":"999be05a-019e-1000-3b4d-39437c0cfd66","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1"},"destination":{"id":"b8f2564b-0e05-373e-9816-060461922152","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60dbbe7a-bdbc-3132-f87c-10bdc7552222"},"labelIndex":0,"zIndex":46,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c9949c50-3ac1-3b52-a853-5a5fa7095118","instanceIdentifier":"1d58a6d6-95ad-3a2e-366c-e222b8b8c55a","name":"","source":{"id":"76c4b168-b18d-3c0d-a72d-19773449784d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"SplitJson","comments":"","instanceIdentifier":"20e9455a-54ed-36d3-476f-991895098201"},"destination":{"id":"82bb8416-5b80-352d-9b87-f006f7f1c322","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExtractText","comments":"","instanceIdentifier":"58dd1286-3c3d-39d8-d872-34f7bb8ccf2c"},"labelIndex":0,"zIndex":10,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"bf8e0534-9525-38e0-807f-599c2e04ade0","instanceIdentifier":"3f40989a-e0cf-3cc7-7792-67a61fa5c7e0","name":"","source":{"id":"7d2d7594-de92-3473-9ca5-6592fa4e35d4","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExecuteSQL (sprawdź duplikat)","comments":"","instanceIdentifier":"c4905ba5-7540-3a6d-d5f4-fd985411e4a4"},"destination":{"id":"50c9f419-7fad-3fa1-9b52-ffc9d88376de","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ConvertRecord","comments":"","instanceIdentifier":"69bb191a-fab6-3095-4228-427748e62cf8"},"labelIndex":0,"zIndex":67,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"b0a2cf09-63dd-3c55-8c33-2f52b14fcfa8","instanceIdentifier":"b36a65ea-718a-3a26-0217-2508ba946bf5","name":"","source":{"id":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (OpenAI)","comments":"","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5"},"destination":{"id":"69ccd60a-0f16-3f6a-a90e-5f8ebd496d13","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (opis, kategoria)","comments":"","instanceIdentifier":"31b7cbb0-9f0a-3dd2-5321-bd7f4a36fb1d"},"labelIndex":0,"zIndex":21,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d9da4918-f7d7-3516-95b8-e8dd2da1b38e","instanceIdentifier":"3beac65f-07d3-3fbd-130f-e0e4960ce193","name":"","source":{"id":"960bd260-170f-30a4-ae5a-cd5d9f370b84","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (db_count)","comments":"","instanceIdentifier":"d002dd49-797a-38b9-160d-4a08a7a24727"},"destination":{"id":"999be05a-019e-1000-3b4d-39437c0cfd66","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1"},"labelIndex":0,"zIndex":72,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"5a86bb54-d6bf-3c0f-919d-29706bbd5c3e","instanceIdentifier":"cdc556c8-6397-3fdc-a464-238f1993da5b","name":"","source":{"id":"99a1498a-019e-1000-c708-3d3a40a1b28d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"f0a38c9e-fe99-367f-44f2-68753e0e41bb"},"destination":{"id":"f4dedcc0-a2e9-3313-90cf-752ad5828eeb","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"0cf414ca-c6e5-3829-6746-d60f67b8c995"},"labelIndex":0,"zIndex":59,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7d865510-b4b8-3920-8b29-6f558416c7ce","instanceIdentifier":"2b93707a-5b64-32c9-4d7c-f72bd7b2ab85","name":"","source":{"id":"1c0b1923-884d-32f3-87f0-191300ee4e33","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN item details)","comments":"","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982"},"destination":{"id":"1c0b1923-884d-32f3-87f0-191300ee4e33","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN item details)","comments":"","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982"},"labelIndex":0,"zIndex":40,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":134.0,"y":-168.99998474121094},{"x":134.0,"y":-118.99998474121094}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c7537183-7865-350e-97fd-ee0aabc12105","instanceIdentifier":"d2868cba-2994-3922-d4c0-1991a1270560","name":"","source":{"id":"960bd260-170f-30a4-ae5a-cd5d9f370b84","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (db_count)","comments":"","instanceIdentifier":"d002dd49-797a-38b9-160d-4a08a7a24727"},"destination":{"id":"304c8b04-70b8-3eb5-8c63-d4038cf5b288","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (nowy?)","comments":"","instanceIdentifier":"5315a37b-e88b-3af2-a5cc-942ab938d3f5"},"labelIndex":0,"zIndex":71,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"5a376f4f-b94e-30f1-9c55-4ac64d0f09aa","instanceIdentifier":"ce351ed7-c01e-36a3-a062-be4e86523355","name":"","source":{"id":"ceaaad64-b7b0-3c04-8d64-3fd6b03e8e3f","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"d64ce398-e25c-3cf5-980e-e48a339fe12f"},"destination":{"id":"999be05a-019e-1000-3b4d-39437c0cfd66","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c0655a1b-3e15-35c4-a45a-24b5ab1a894d","instanceIdentifier":"7f2ce7c3-ce02-38b9-a181-7579f6f62939","name":"","source":{"id":"999fcb75-019e-1000-d7a8-6b620720ce5b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"c6734120-62f7-318d-06b3-a528ed0bdde0"},"destination":{"id":"99a1498a-019e-1000-c708-3d3a40a1b28d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"f0a38c9e-fe99-367f-44f2-68753e0e41bb"},"labelIndex":0,"zIndex":56,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c36481aa-615e-3cde-a78d-09eaf97974f7","instanceIdentifier":"b2f545d8-5fd1-367c-75c7-7df0d7e2d869","name":"","source":{"id":"578c871a-9dc4-3621-8635-5192d18e6ad1","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"615255c1-b49b-3e2e-6366-a3657d108e82"},"destination":{"id":"da782ebc-adce-3d82-8841-39d5baa7e450","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"089cdb68-0ee0-3681-4442-808ef41ab62b"},"labelIndex":0,"zIndex":44,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"6dd98c58-643a-333d-8fb9-88084f39805f","instanceIdentifier":"c9e377c2-009e-3837-89d5-cdb138ad459a","name":"","source":{"id":"69ccd60a-0f16-3f6a-a90e-5f8ebd496d13","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (opis, kategoria)","comments":"","instanceIdentifier":"31b7cbb0-9f0a-3dd2-5321-bd7f4a36fb1d"},"destination":{"id":"999e42fb-019e-1000-87f1-f359f09879d2","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a0136c40-1867-317a-3e53-671edc46c611"},"labelIndex":0,"zIndex":24,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d26d46dd-085f-38b6-a5de-96205a68c709","instanceIdentifier":"df0bbc07-377c-314b-db18-dcb1191dc62c","name":"","source":{"id":"9997d391-019e-1000-23b1-4159aa0fd4c7","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a1c2d186-1e49-3a31-3fbb-87e894003d28"},"destination":{"id":"8d2704d9-8699-347d-a400-6acb34a2142b","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60a09fba-6441-34e4-9c7c-145f07a11630"},"labelIndex":0,"zIndex":39,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ecbe2bb7-c0af-3a36-9128-82023c45a891","instanceIdentifier":"13ca4572-f0ea-320b-b46f-4b26aeee5357","name":"","source":{"id":"76c4b168-b18d-3c0d-a72d-19773449784d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"SplitJson","comments":"","instanceIdentifier":"20e9455a-54ed-36d3-476f-991895098201"},"destination":{"id":"9996dcf5-019e-1000-1b03-183df31f6b3d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4b0af4c2-bc9c-3489-d54e-8eafd8379c9d"},"labelIndex":0,"zIndex":35,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c2d60e50-32e5-3c4d-b685-b9d758051c27","instanceIdentifier":"e60bd102-a855-3597-5537-bfb0da0de085","name":"","source":{"id":"7d2d7594-de92-3473-9ca5-6592fa4e35d4","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExecuteSQL (sprawdź duplikat)","comments":"","instanceIdentifier":"c4905ba5-7540-3a6d-d5f4-fd985411e4a4"},"destination":{"id":"999be05a-019e-1000-3b4d-39437c0cfd66","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1"},"labelIndex":0,"zIndex":68,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"206d7f48-a792-3e22-a8f5-0556eae7a48e","instanceIdentifier":"13476911-2c77-387d-a1e0-05d069a558d4","name":"","source":{"id":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (OpenAI)","comments":"","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5"},"destination":{"id":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (OpenAI)","comments":"","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5"},"labelIndex":0,"zIndex":50,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":155.3694725036621,"y":2038.7078857421875},{"x":155.3694725036621,"y":2088.7078857421875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"033a359f-a16d-3455-917e-b2062af30624","instanceIdentifier":"2234e126-8e84-3f3f-2020-087544aa4243","name":"","source":{"id":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN topstories)","comments":"","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b"},"destination":{"id":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN topstories)","comments":"","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b"},"labelIndex":0,"zIndex":33,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":134.0,"y":-1040.999984741211},{"x":134.0,"y":-990.9999847412109}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"a8827192-6e60-3553-a91e-06dc0527523c","instanceIdentifier":"c1b04f18-ac67-346d-eb02-d07019d9da63","name":"","source":{"id":"b1357658-5b3e-36b0-b609-af6c4fd488f3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5cad45e1-bdca-3964-8fd7-cd08d2c11bb0"},"destination":{"id":"999fcb75-019e-1000-d7a8-6b620720ce5b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"c6734120-62f7-318d-06b3-a528ed0bdde0"},"labelIndex":0,"zIndex":28,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"21033c56-fc84-387e-b78e-bbca030a154e","instanceIdentifier":"9003b3be-d994-3873-f7dc-834556523deb","name":"","source":{"id":"830db860-888d-39b1-97f2-cb617de23f91","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"dd5897be-c774-331d-8f31-603e39b12a00"},"destination":{"id":"cacabc0c-1856-3c4b-b1b7-160642da3e6d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"046b0256-2683-33cd-8977-2026fe252d70"},"labelIndex":0,"zIndex":53,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"f81f1d2f-3dfa-3784-8a1e-d3867d6d7f9e","instanceIdentifier":"01dd972e-63db-33dc-665e-81f562789dc1","name":"","source":{"id":"f4dedcc0-a2e9-3313-90cf-752ad5828eeb","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"0cf414ca-c6e5-3829-6746-d60f67b8c995"},"destination":{"id":"0a7cfaa4-7134-3367-941e-6dd19c7876d8","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"3503868b-de4f-3194-a1db-8c0b0872d45e"},"labelIndex":0,"zIndex":62,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"cf74850b-fa98-3685-b9f3-55bcc5c4149e","instanceIdentifier":"701bb38a-bdbb-3929-5e62-78c7eab2fce6","name":"","source":{"id":"cacabc0c-1856-3c4b-b1b7-160642da3e6d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"046b0256-2683-33cd-8977-2026fe252d70"},"destination":{"id":"29a4e08f-1320-3de6-a629-c401f33f5cf8","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"5241a9de-ac2e-3f13-c1c7-ffa846179f92"},"labelIndex":0,"zIndex":55,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"b59d3dd3-b486-331d-a1be-971b3e15c382","instanceIdentifier":"1f155bad-9a85-3a0b-83c8-8225df03038f","name":"","source":{"id":"4079a179-4ade-3207-bc26-7c7a738851a8","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"5a21c4db-b0b0-32f5-83d7-2769621c5751"},"destination":{"id":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"PutDatabaseRecord (scrape_queue)","comments":"","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0"},"labelIndex":0,"zIndex":31,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"a502d121-555c-37a9-b46a-da76bdce12f8","instanceIdentifier":"5373ebe8-5e8b-31f1-c347-e96c6534c4cf","name":"","source":{"id":"9ce270c1-e765-3c42-86da-bbce29548754","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"7c485d21-074e-304e-c21a-e1d489321487"},"destination":{"id":"999ef675-019e-1000-8e71-e6dd803299b3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"8e58136e-c4eb-333e-7366-8796c2f409ce"},"labelIndex":0,"zIndex":25,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"47c56b50-1f1c-361c-a60a-9f42cd131dfa","instanceIdentifier":"ce29db7c-8745-3e5e-ddc1-c1b3944da756","name":"","source":{"id":"502de958-c39e-3335-86cf-959358268057","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (hn_time, hn_type, hn_url, hn_title...)","comments":"","instanceIdentifier":"ddf16401-888b-37b7-859a-7d4f16bfa259"},"destination":{"id":"999addc9-019e-1000-7854-23988f6b5ee3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"791897cb-ccef-388e-2cf5-c6cd55dcc019"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d1a77467-6f32-35bb-b4b5-fa11554fe4a5","instanceIdentifier":"16c939ad-53bf-3170-ed03-c0aef04326b2","name":"","source":{"id":"999addc9-019e-1000-7854-23988f6b5ee3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"791897cb-ccef-388e-2cf5-c6cd55dcc019"},"destination":{"id":"da782ebc-adce-3d82-8841-39d5baa7e450","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"089cdb68-0ee0-3681-4442-808ef41ab62b"},"labelIndex":0,"zIndex":45,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"09d7af78-cc22-389f-b111-f9b80e6316c0","instanceIdentifier":"c2f8c271-fed9-39bf-2797-73c86cec2522","name":"","source":{"id":"7d78500c-5252-3ae1-b704-0fdcd06bfc28","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"a4c8e74f-9713-36b0-8a8f-a92f64e21aa4"},"destination":{"id":"8d2704d9-8699-347d-a400-6acb34a2142b","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60a09fba-6441-34e4-9c7c-145f07a11630"},"labelIndex":0,"zIndex":38,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"35eaed33-1bd7-35ce-a29a-2485a4ea4a2c","instanceIdentifier":"d4993d78-e988-3434-6903-cea7d54dd3ad","name":"","source":{"id":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"PutDatabaseRecord (scrape_queue)","comments":"","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0"},"destination":{"id":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"PutDatabaseRecord (scrape_queue)","comments":"","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0"},"labelIndex":0,"zIndex":7,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":169.0061891078949,"y":3262.3985900878906},{"x":169.0061891078949,"y":3312.3985900878906}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"5b08eed7-a9b5-36c3-8265-4c2908edfde5","instanceIdentifier":"8a7e6e77-7a3e-3c38-150e-93ae4c0e13f1","name":"","source":{"id":"da782ebc-adce-3d82-8841-39d5baa7e450","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"089cdb68-0ee0-3681-4442-808ef41ab62b"},"destination":{"id":"b8f2564b-0e05-373e-9816-060461922152","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60dbbe7a-bdbc-3132-f87c-10bdc7552222"},"labelIndex":0,"zIndex":47,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"bd522582-0614-3ec5-97fd-2ceafce0b043","instanceIdentifier":"845df5cd-a89d-37ad-c377-0e83939770b9","name":"","source":{"id":"4079a179-4ade-3207-bc26-7c7a738851a8","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"5a21c4db-b0b0-32f5-83d7-2769621c5751"},"destination":{"id":"99a24f0e-019e-1000-999a-96ee5e3ae91d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a9f55738-da4c-3729-1696-ac42dc32f90a"},"labelIndex":0,"zIndex":32,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"08e338d6-2d8a-33df-8caf-55254c0612c0","instanceIdentifier":"10828d23-776e-3099-4426-5a2c31fc79c7","name":"","source":{"id":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN topstories)","comments":"","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b"},"destination":{"id":"5a9371d1-1487-3962-9a97-5eecbb5a32a0","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"e852a8b1-e821-331e-fb54-70da4d9dc504"},"labelIndex":0,"zIndex":34,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":145.0,"y":-1127.999984741211}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"85cb2449-cc53-37cf-bd89-03b568011f6f","instanceIdentifier":"f4c407c7-5fb5-3512-e9c4-e03b7e6de052","name":"","source":{"id":"999c7ada-019e-1000-4f8a-868490b20b06","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"e25c9922-7306-3750-a6b7-0fffbbe1b237"},"destination":{"id":"830db860-888d-39b1-97f2-cb617de23f91","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"dd5897be-c774-331d-8f31-603e39b12a00"},"labelIndex":0,"zIndex":49,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c1b51490-1395-3018-9059-487f13275dbe","instanceIdentifier":"e03ffdcb-741a-3bcc-2110-fb4f8037f857","name":"","source":{"id":"99a24f0e-019e-1000-999a-96ee5e3ae91d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a9f55738-da4c-3729-1696-ac42dc32f90a"},"destination":{"id":"f4dedcc0-a2e9-3313-90cf-752ad5828eeb","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"0cf414ca-c6e5-3829-6746-d60f67b8c995"},"labelIndex":0,"zIndex":58,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"63492cc8-f85d-300a-84b3-4484b95d25ca","instanceIdentifier":"91a7b8f7-9245-3086-065e-a8ec79b202a8","name":"","source":{"id":"50c9f419-7fad-3fa1-9b52-ffc9d88376de","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ConvertRecord","comments":"","instanceIdentifier":"69bb191a-fab6-3095-4228-427748e62cf8"},"destination":{"id":"999be05a-019e-1000-3b4d-39437c0cfd66","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4f234fe4-a137-32c8-9465-064a2a78c0c1"},"labelIndex":0,"zIndex":70,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7be17d40-14c6-32da-82db-5846e932609b","instanceIdentifier":"a1db5aa8-0334-33e5-d95f-e0869ab0c4fd","name":"","source":{"id":"69ccd60a-0f16-3f6a-a90e-5f8ebd496d13","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (opis, kategoria)","comments":"","instanceIdentifier":"31b7cbb0-9f0a-3dd2-5321-bd7f4a36fb1d"},"destination":{"id":"9ce270c1-e765-3c42-86da-bbce29548754","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"7c485d21-074e-304e-c21a-e1d489321487"},"labelIndex":0,"zIndex":23,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ad8b1f25-94a5-31c5-891a-534ae81d2dbf","instanceIdentifier":"7acc5730-70cc-393b-d8a1-d6af92c25846","name":"","source":{"id":"370aad9b-ec49-350f-9a60-b1593ce34731","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr słów kluczowych — pasuje)","comments":"","instanceIdentifier":"1e9a2c0f-6091-3b17-e008-ae869ea172e4"},"destination":{"id":"7d2d7594-de92-3473-9ca5-6592fa4e35d4","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExecuteSQL (sprawdź duplikat)","comments":"","instanceIdentifier":"c4905ba5-7540-3a6d-d5f4-fd985411e4a4"},"labelIndex":0,"zIndex":65,"selectedRelationships":["pasuje"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"cc012f16-8445-3e35-aa3c-f86ee82f0845","instanceIdentifier":"0406c66f-0b11-34a8-4a5e-60aab833f2fa","name":"","source":{"id":"304c8b04-70b8-3eb5-8c63-d4038cf5b288","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (nowy?)","comments":"","instanceIdentifier":"5315a37b-e88b-3af2-a5cc-942ab938d3f5"},"destination":{"id":"71463616-fcd4-387c-a01a-b309015d3e0f","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60a2c71c-130e-3265-8027-dc955c0e4dac"},"labelIndex":0,"zIndex":74,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"6effaa7d-05c1-3343-93e0-c80a25a784a0","instanceIdentifier":"78b25c08-b9dd-3d5a-053d-de327cd598a0","name":"","source":{"id":"474b6a9d-c545-3e04-973d-a44aa60aaeea","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr daty — nowe_i_story)","comments":"","instanceIdentifier":"86513dbc-4e0c-38de-35c1-5a2e43bfb270"},"destination":{"id":"370aad9b-ec49-350f-9a60-b1593ce34731","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr słów kluczowych — pasuje)","comments":"","instanceIdentifier":"1e9a2c0f-6091-3b17-e008-ae869ea172e4"},"labelIndex":0,"zIndex":63,"selectedRelationships":["nowe_i_story"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7594fdf1-75a1-38b2-9de2-3ac9eb1de261","instanceIdentifier":"269ef352-835e-349d-1d25-e73912017600","name":"","source":{"id":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"PutDatabaseRecord (scrape_queue)","comments":"","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0"},"destination":{"id":"99a39994-019e-1000-5406-1887e4d67f75","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"efe1db3f-722b-326b-11ca-87c7b93428b1"},"labelIndex":0,"zIndex":60,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":248.0,"y":3112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"1d2cc535-ebc3-35db-8bb8-59d9b93249f4","instanceIdentifier":"baec11d7-cfea-3280-91b9-ef1ad09fd2f0","name":"","source":{"id":"1c0b1923-884d-32f3-87f0-191300ee4e33","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN item details)","comments":"","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982"},"destination":{"id":"502de958-c39e-3335-86cf-959358268057","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (hn_time, hn_type, hn_url, hn_title...)","comments":"","instanceIdentifier":"ddf16401-888b-37b7-859a-7d4f16bfa259"},"labelIndex":0,"zIndex":14,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"9d309969-367a-32eb-8269-3a6ceaa013d6","instanceIdentifier":"ba2b2d3d-1246-392a-f4e7-ae0c1aaab43a","name":"","source":{"id":"b1357658-5b3e-36b0-b609-af6c4fd488f3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5cad45e1-bdca-3964-8fd7-cd08d2c11bb0"},"destination":{"id":"4079a179-4ade-3207-bc26-7c7a738851a8","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"5a21c4db-b0b0-32f5-83d7-2769621c5751"},"labelIndex":0,"zIndex":27,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7668c77d-f2be-34ee-9130-fbd31c7fed2f","instanceIdentifier":"20c03d2c-cd1c-33c2-102f-3d33504b8a69","name":"","source":{"id":"9996dcf5-019e-1000-1b03-183df31f6b3d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"4b0af4c2-bc9c-3489-d54e-8eafd8379c9d"},"destination":{"id":"7d78500c-5252-3ae1-b704-0fdcd06bfc28","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"a4c8e74f-9713-36b0-8a8f-a92f64e21aa4"},"labelIndex":0,"zIndex":36,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"ee05fb3d-6dfc-368f-aa20-61f18ca872d0","instanceIdentifier":"e401b2f4-c2a7-3daf-d3ca-dc126cfc73e9","name":"","source":{"id":"5a9371d1-1487-3962-9a97-5eecbb5a32a0","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"e852a8b1-e821-331e-fb54-70da4d9dc504"},"destination":{"id":"7d78500c-5252-3ae1-b704-0fdcd06bfc28","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"a4c8e74f-9713-36b0-8a8f-a92f64e21aa4"},"labelIndex":0,"zIndex":37,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"f1f5c5ae-c854-34f6-af2e-755970b50f08","instanceIdentifier":"c8bb0b27-48af-3d7b-1763-9554394cb66f","name":"","source":{"id":"b8f2564b-0e05-373e-9816-060461922152","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60dbbe7a-bdbc-3132-f87c-10bdc7552222"},"destination":{"id":"830db860-888d-39b1-97f2-cb617de23f91","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"dd5897be-c774-331d-8f31-603e39b12a00"},"labelIndex":0,"zIndex":48,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"9475e6cd-482b-3e7b-bbe7-934ac1a631f9","instanceIdentifier":"1da3e99f-8a89-3d93-2131-850a7202f35d","name":"","source":{"id":"9ce270c1-e765-3c42-86da-bbce29548754","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"7c485d21-074e-304e-c21a-e1d489321487"},"destination":{"id":"b1357658-5b3e-36b0-b609-af6c4fd488f3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5cad45e1-bdca-3964-8fd7-cd08d2c11bb0"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d24146a7-179d-3d5e-8544-2bfda222a1ab","instanceIdentifier":"0b015f80-dced-3909-4088-79ba7912e0db","name":"","source":{"id":"370aad9b-ec49-350f-9a60-b1593ce34731","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr słów kluczowych — pasuje)","comments":"","instanceIdentifier":"1e9a2c0f-6091-3b17-e008-ae869ea172e4"},"destination":{"id":"084e2235-529e-39a5-afca-eae73401892b","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"6c0b9d62-f4ed-355a-63a0-0bb1b5bae094"},"labelIndex":0,"zIndex":66,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"07abe12b-6ba9-39f6-b9e3-52f8916237e5","instanceIdentifier":"5de50292-7461-3ace-935d-9dc2182f2813","name":"","source":{"id":"0b46c5ac-6bf5-3a95-84c1-da1f7cf55c16","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN topstories)","comments":"","instanceIdentifier":"1f59bdc8-9486-3d90-f8a0-28b8b265cb0b"},"destination":{"id":"76c4b168-b18d-3c0d-a72d-19773449784d","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"SplitJson","comments":"","instanceIdentifier":"20e9455a-54ed-36d3-476f-991895098201"},"labelIndex":0,"zIndex":11,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"37c2b09f-022b-38ee-a4c5-27497f7f1c6f","instanceIdentifier":"09966502-7c20-380f-b8cc-0ebf23624ecf","name":"","source":{"id":"acba05d7-aa87-3fd3-bdc6-ced95925ce8b","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"PutDatabaseRecord (scrape_queue)","comments":"","instanceIdentifier":"24507790-1330-321c-3188-3111463cf1e0"},"destination":{"id":"ce3ba259-18ff-3453-b6d5-16a3095d2d09","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"LogMessage","comments":"","instanceIdentifier":"de0dea78-27f0-319d-2f95-56f89cc0beb8"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"65ce702e-abf3-372e-94d3-bbf4c9313d38","instanceIdentifier":"803e8064-f6cd-344f-1136-87a3e8093867","name":"","source":{"id":"50c9f419-7fad-3fa1-9b52-ffc9d88376de","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ConvertRecord","comments":"","instanceIdentifier":"69bb191a-fab6-3095-4228-427748e62cf8"},"destination":{"id":"960bd260-170f-30a4-ae5a-cd5d9f370b84","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (db_count)","comments":"","instanceIdentifier":"d002dd49-797a-38b9-160d-4a08a7a24727"},"labelIndex":0,"zIndex":69,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"3ff3ad7d-3e41-3c82-9da0-5213a8994e55","instanceIdentifier":"9e843a03-2b75-3838-ae02-10b83ec6c3d1","name":"","source":{"id":"8d2704d9-8699-347d-a400-6acb34a2142b","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60a09fba-6441-34e4-9c7c-145f07a11630"},"destination":{"id":"578c871a-9dc4-3621-8635-5192d18e6ad1","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"615255c1-b49b-3e2e-6366-a3657d108e82"},"labelIndex":0,"zIndex":43,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"2826814a-d852-3509-8d30-b69157b527b5","instanceIdentifier":"731d3087-859d-3d50-464a-1f1ae1b75ae7","name":"","source":{"id":"474b6a9d-c545-3e04-973d-a44aa60aaeea","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (filtr daty — nowe_i_story)","comments":"","instanceIdentifier":"86513dbc-4e0c-38de-35c1-5a2e43bfb270"},"destination":{"id":"084e2235-529e-39a5-afca-eae73401892b","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"6c0b9d62-f4ed-355a-63a0-0bb1b5bae094"},"labelIndex":0,"zIndex":64,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"42744869-0a07-39ca-a411-a7ea8bf4b999","instanceIdentifier":"0f4c42ac-169a-3199-e3df-3a232efca183","name":"","source":{"id":"99a39994-019e-1000-5406-1887e4d67f75","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"efe1db3f-722b-326b-11ca-87c7b93428b1"},"destination":{"id":"0a7cfaa4-7134-3367-941e-6dd19c7876d8","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"3503868b-de4f-3194-a1db-8c0b0872d45e"},"labelIndex":0,"zIndex":61,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"0af85a36-d483-36bf-ac5c-675c527cf113","instanceIdentifier":"3e71eb52-fdb3-37a0-53ed-d0dd1b9c1071","name":"","source":{"id":"ad0977fb-7d75-3d0b-b626-f219609b3e0a","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"UpdateAttribute","comments":"","instanceIdentifier":"67909e9b-bff1-330b-c593-eda3f13c4bfe"},"destination":{"id":"b7a1a9f1-ff64-3a20-967d-a4633f4a5d86","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (OpenAI)","comments":"","instanceIdentifier":"f017ee0e-46ae-3630-8ee1-f97972f9b6d5"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"12f039b6-f5cf-3762-a94d-8b2b166606b2","instanceIdentifier":"59e2b573-82ca-3537-4860-a71dfda280b1","name":"","source":{"id":"960bd260-170f-30a4-ae5a-cd5d9f370b84","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"EvaluateJsonPath (db_count)","comments":"","instanceIdentifier":"d002dd49-797a-38b9-160d-4a08a7a24727"},"destination":{"id":"71463616-fcd4-387c-a01a-b309015d3e0f","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"60a2c71c-130e-3265-8027-dc955c0e4dac"},"labelIndex":0,"zIndex":73,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"0e1941ac-1030-3ebc-9f80-c9f1b56eee7c","instanceIdentifier":"8da066dd-5e7c-3a76-2915-2b665aad96d9","name":"","source":{"id":"1c0b1923-884d-32f3-87f0-191300ee4e33","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN item details)","comments":"","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982"},"destination":{"id":"99990d5e-019e-1000-b880-1fb61e428892","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"dd1576d3-66a9-3bcc-be2e-f032d6283452"},"labelIndex":0,"zIndex":41,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":209.0,"y":-239.99998474121094}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"899e93bf-7f0f-3e35-a430-a7241de9ac1b","instanceIdentifier":"1f15a85b-d8c3-3628-a0b2-5818a297bee9","name":"","source":{"id":"82bb8416-5b80-352d-9b87-f006f7f1c322","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExtractText","comments":"","instanceIdentifier":"58dd1286-3c3d-39d8-d872-34f7bb8ccf2c"},"destination":{"id":"9997d391-019e-1000-23b1-4159aa0fd4c7","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a1c2d186-1e49-3a31-3fbb-87e894003d28"},"labelIndex":0,"zIndex":13,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"5d431345-5d6a-3e89-b558-8a695865cae1","instanceIdentifier":"4581e578-5534-3f8c-5b4e-df26cf120a8e","name":"","source":{"id":"82bb8416-5b80-352d-9b87-f006f7f1c322","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ExtractText","comments":"","instanceIdentifier":"58dd1286-3c3d-39d8-d872-34f7bb8ccf2c"},"destination":{"id":"1c0b1923-884d-32f3-87f0-191300ee4e33","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"InvokeHTTP (HN item details)","comments":"","instanceIdentifier":"aa0169cc-fe2e-3043-e9eb-5225995df982"},"labelIndex":0,"zIndex":12,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"c571a409-2f32-3daa-9942-e579bf6ed8e9","instanceIdentifier":"488c7655-7bf7-30b1-eda5-d9e773f7c22f","name":"","source":{"id":"304c8b04-70b8-3eb5-8c63-d4038cf5b288","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"RouteOnAttribute (nowy?)","comments":"","instanceIdentifier":"5315a37b-e88b-3af2-a5cc-942ab938d3f5"},"destination":{"id":"ceaaad64-b7b0-3c04-8d64-3fd6b03e8e3f","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"ReplaceText","comments":"","instanceIdentifier":"d64ce398-e25c-3cf5-980e-e48a339fe12f"},"labelIndex":0,"zIndex":75,"selectedRelationships":["nowy"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"261f0b86-dd83-3d1a-8b4f-1def25f40aa1","instanceIdentifier":"b91922fd-5655-3895-8c1b-eae7748b90e3","name":"","source":{"id":"999ef675-019e-1000-8e71-e6dd803299b3","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"8e58136e-c4eb-333e-7366-8796c2f409ce"},"destination":{"id":"29a4e08f-1320-3de6-a629-c401f33f5cf8","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"5241a9de-ac2e-3f13-c1c7-ffa846179f92"},"labelIndex":0,"zIndex":54,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7ede7cfe-2bf1-3ae5-9a55-6280b165b1bb","instanceIdentifier":"c198c375-e9d7-3322-be2c-2dea4fc20eb7","name":"","source":{"id":"999e42fb-019e-1000-87f1-f359f09879d2","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"a0136c40-1867-317a-3e53-671edc46c611"},"destination":{"id":"cacabc0c-1856-3c4b-b1b7-160642da3e6d","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"046b0256-2683-33cd-8977-2026fe252d70"},"labelIndex":0,"zIndex":52,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"54951548-32cb-3475-8ef0-dfe108e5942f","instanceIdentifier":"ff593956-dcc3-390a-f942-2fc88846a4c5","name":"","source":{"id":"99990d5e-019e-1000-b880-1fb61e428892","type":"PROCESSOR","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Set and Email message","comments":"","instanceIdentifier":"dd1576d3-66a9-3bcc-be2e-f032d6283452"},"destination":{"id":"578c871a-9dc4-3621-8635-5192d18e6ad1","type":"FUNNEL","groupId":"4f7b9f30-640d-3d4c-8219-666616d3fd08","name":"Funnel","comments":"","instanceIdentifier":"615255c1-b49b-3e2e-6366-a3657d108e82"},"labelIndex":0,"zIndex":42,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"}],"labels":[],"funnels":[{"identifier":"71463616-fcd4-387c-a01a-b309015d3e0f","instanceIdentifier":"60a2c71c-130e-3265-8027-dc955c0e4dac","position":{"x":-752.0,"y":1384.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"99a1498a-019e-1000-c708-3d3a40a1b28d","instanceIdentifier":"f0a38c9e-fe99-367f-44f2-68753e0e41bb","position":{"x":1048.0,"y":2768.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"f4dedcc0-a2e9-3313-90cf-752ad5828eeb","instanceIdentifier":"0cf414ca-c6e5-3829-6746-d60f67b8c995","position":{"x":1056.0,"y":2984.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"8d2704d9-8699-347d-a400-6acb34a2142b","instanceIdentifier":"60a09fba-6441-34e4-9c7c-145f07a11630","position":{"x":1016.0,"y":-408.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"da782ebc-adce-3d82-8841-39d5baa7e450","instanceIdentifier":"089cdb68-0ee0-3681-4442-808ef41ab62b","position":{"x":1024.0,"y":88.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"7d78500c-5252-3ae1-b704-0fdcd06bfc28","instanceIdentifier":"a4c8e74f-9713-36b0-8a8f-a92f64e21aa4","position":{"x":1016.0,"y":-920.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"084e2235-529e-39a5-afca-eae73401892b","instanceIdentifier":"6c0b9d62-f4ed-355a-63a0-0bb1b5bae094","position":{"x":-784.0,"y":456.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"29a4e08f-1320-3de6-a629-c401f33f5cf8","instanceIdentifier":"5241a9de-ac2e-3f13-c1c7-ffa846179f92","position":{"x":1048.0,"y":2512.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"578c871a-9dc4-3621-8635-5192d18e6ad1","instanceIdentifier":"615255c1-b49b-3e2e-6366-a3657d108e82","position":{"x":1016.0,"y":-184.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"830db860-888d-39b1-97f2-cb617de23f91","instanceIdentifier":"dd5897be-c774-331d-8f31-603e39b12a00","position":{"x":1040.0,"y":1920.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"cacabc0c-1856-3c4b-b1b7-160642da3e6d","instanceIdentifier":"046b0256-2683-33cd-8977-2026fe252d70","position":{"x":1040.0,"y":2224.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"b8f2564b-0e05-373e-9816-060461922152","instanceIdentifier":"60dbbe7a-bdbc-3132-f87c-10bdc7552222","position":{"x":1040.0,"y":1400.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"0a7cfaa4-7134-3367-941e-6dd19c7876d8","instanceIdentifier":"3503868b-de4f-3194-a1db-8c0b0872d45e","position":{"x":1056.0,"y":3216.0},"componentType":"FUNNEL","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"}],"controllerServices":[{"identifier":"19d6e59f-dded-31b2-8626-e3a9be840c68","instanceIdentifier":"a4e1a073-65a9-35ed-1c9b-b302ddc7d4cd","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"e753fb8a-7323-32e4-ae2e-9b11c8a70b13","instanceIdentifier":"accf01a5-b166-39a3-f0a7-1d6a7ebd80fd","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"38b6127c-081e-3792-ab9f-dd633d7c3867","instanceIdentifier":"f7a919bf-1cbb-38af-ffa8-1d7180ed8b6b","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"},{"identifier":"d508f4cc-c5b9-3035-93c8-f9ead7b75058","instanceIdentifier":"09ef62ec-e292-3e6e-8dc2-c37b485d79a2","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"C:\\nifi\\lib\\postgresql-42.7.11.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://aws-1-eu-central-1.pooler.supabase.com:5432/postgres","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"postgres.szassqzvivdgvpkciyif","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins","Password":"#{supabase.password}"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f7b9f30-640d-3d4c-8219-666616d3fd08"}],"parameterContextName":"ctx_AIFirmy","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"ctx_AIFirmy":{"name":"ctx_AIFirmy","parameters":[{"name":"supabase.password","description":"","sensitive":true,"provided":false},{"name":"openai_max_tokens","description":"","sensitive":false,"provided":false,"value":"300"},{"name":"openai_api_key_1","description":"","sensitive":true,"provided":false},{"name":"openAi.Authorization.bearer","description":"","sensitive":true,"provided":false},{"name":"openai_model","description":"do wyboru:\ngpt-4o-mini\ngpt-4o","sensitive":false,"provided":false,"value":"gpt-4o-mini"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}